<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Details of student</title>
    <style>
        table{
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td{
            border: 1px solid black;
            padding: 15px;
            text-align: left;
        }
        th{
            background-color: #4caf50;
            color: white;
        }
    </style>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCntrl">
        <h2>Students List</h2>
        <form ng-submit="displayStudents()">
            <label for="num">Number of Students to display:</label>
            <br><br>
            <input type="number" id="num" name="num" ng-model="numStudents">
        </form>
        <br>
        <table>
            <tr>
                <th>Sl. No.</th>
                <th>Name</th>
                <th>CGPA</th>
            </tr>
            <tr ng-repeat="Student in Students | limitTo: numStudents track by $index">
                <td>{{$index + 1}}</td>
                <td>{{Student.Name}}</td>
                <td>{{Student.CGPA}}</td>
            </tr>
        </table>
        <p>Total number of students: {{Students.length}}</p>
        <p>Number of students fetched: {{numStudents}}</p>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCntrl', function($scope){            
            $scope.Students = [                
            {Name: 'Sudeep', CGPA: 8.5},
            {Name: 'Suhas', CGPA: 9.3},
            {Name: 'Spandana', CGPA: 9.6},
            {Name: 'Rahul', CGPA: 7.6}
            ];
            $scope.numStudents = 0;
            $scope.displayStudents = function(){

            }
        }) 
    </script>
</body>
</html>
